<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

<form id="uploadForm" action="#" method="post" enctype="multipart/form-data">
<div id="presign_post_attributes"></div>
File: 
<input type="hidden" name="Content-Type" />
<input type="file" name="file" id="file" /><br />

{% if captcha_enabled %}
<div id='recaptcha' class="g-recaptcha" data-sitekey="{{ captcha_site_key }}" data-callback="start_upload_file" data-size="invisible"></div>
{% endif %}

<!-- Don't name this button "submit" or jQuery will get confused -->
<button id="upload_button" disabled>Upload to Amazon S3</button>

<progress id="progress" max="1" value="0">
</form>

{% if captcha_enabled %}
	<script src='https://www.google.com/recaptcha/api.js'></script>
{% endif %}

<script>
function start_upload_file(captcha_token=''){
	$("#uploadForm #upload_button").prop('disabled', true);

	//Request for a presigned POST URL
	$.post('/get_presigned_post', {'g-recaptcha-response': captcha_token}, (data) => {
		//Put the fields and action URL into the form
		$('#uploadForm').attr("action", data['url']);
		$('#presign_post_attributes').empty();
		for (var attribute in data['fields']){
			$('#presign_post_attributes').append(
				`<input type="hidden" name="${attribute}" value="${data['fields'][attribute]}" />`
			);
		}

		//Send the request
		$.ajax({
			xhr: () => {
				var xhr = new window.XMLHttpRequest();
				xhr.upload.addEventListener("progress", (event) => {
					if (event.lengthComputable) {
						$('#progress').val(event.loaded/event.total);
					}
			   }, false);

			   return xhr;
			},
			method: 'POST',
			url: $('#uploadForm').attr('action'),
			data: new FormData($('#uploadForm')[0]),
			crossDomain: true,
			processData: false,
			contentType: false,
			error: (jqXHR) => {
				alert("TODO: Something went wrong!\n"+jqXHR.responseText)
			},
			success: (data) => {
				location.href = data;
			}
		});

	}, 'json').fail(
		function(jqXHR, statusCode) {
			window.alert(jqXHR.responseText);
		}
	)
}

$("#uploadForm #file").on("change", function(eventObject) {
	if(this.files.length>0){
		var file = this.files[0];
		if(file.size<={{ fileSizeLimit }}){
			$("#uploadForm input[name=Content-Type]").val(file.type);
			$("#uploadForm #upload_button").prop('disabled', false);
		}else{
			this.value = "";
			window.alert("FAILED! File too large!");
			$("#uploadForm #upload_button").prop('disabled', true);
		}
	}else{
		$("#uploadForm #upload_button").prop('disabled', true);
	}
});

$('#uploadForm').submit(() => {
{% if captcha_enabled %}
	grecaptcha.execute();
{% else %}
	start_upload_file();
{% endif %}
	return false;
});
</script>
