<!doctype html>
<html lang="en" class="h-100">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="Simple temporary file hosting service">

		<title>{{ service_name }}</title>

		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

		<style>
			.drop-zone {
				border-width:3px !important;
				border-style: dashed !important;
				border-color: rgb(22, 22, 23) !important;
			}
			.drop-zone-active {
				opacity: 0.3;
			}
		</style>
	</head>

	<body class="h-100">
		<div class="d-flex flex-column h-100">
			{% include 'navbar.html' %}

			<main class="container flex-column d-flex h-100 p-2">
				<form class="d-flex flex-column flex-grow-1" id="uploadForm" action="#" method="post" enctype="multipart/form-data">
					<div id="presign_post_attributes"></div>
					<input type="hidden" name="Content-Type" />

					<div id="upload-drop-zone" class="d-flex flex-column mx-auto flex-grow-1 w-100 h-100 justify-content-center align-items-center border drop-zone" draggable="true">
						<div class="mx-auto" style="font-size: larger; pointer-events: none;">Drop a file here to upload</div>
						<div class="mx-auto" style="pointer-events: none;">Or pick a file here:</div>
						<div class="mx-auto">
							<div class="custom-file mx-auto">
								<input type="file" name="file" class="custom-file-input" id="file" disabled />
								<label id="filename" class="custom-file-label" for="file">Choose a file</label>
							</div>
						</div>
						<noscript class="text-danger font-weight-bold">
							Sorry. Javascript is required for file upload.
						</noscript>
					</div>
					<div class="progress">
						<div id="progress" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
					</div>
					
					{% if captcha_enabled %}
					<div id='recaptcha' class="g-recaptcha" data-sitekey="{{ captcha_site_key }}" data-callback="start_upload_file" data-size="invisible"></div>
					{% endif %}

					<div class="p-2">
						<small class="form-text text-muted">{{ upload_remarks }}</small>
						<small class="form-text text-muted">Maximum file size: {{ file_size_limit_human }}</small>
						{% if upload_rate_limit != "" %}
						<small class="form-text text-muted">Maximum uploads per IP address: {{ upload_rate_limit }}</small>
						{% endif %}
						<small class="form-text text-muted">This service will upload your files to {{ backend_name }}. By uploading files using this site, you agree to the terms of service of {{ backend_name }}. </small>
					</div>
				</form>
			</main>
		</div>

		<div id="error-dialog" class="modal" tabindex="-1" role="dialog">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title font-weight-bold text-danger" id="dialog-title"></h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<p id="dialog-message"></p>
						</div>
						<div class="modal-footer">
						<button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
					</div>
				</div>
			</div>
		</div>

		{% if captcha_enabled %}
			<script src='https://www.google.com/recaptcha/api.js'></script>
		{% endif %}

		<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
		<script>
		$("#uploadForm #file").prop('disabled', false);

		//Drop zone handling
		$("#upload-drop-zone")[0].ondrop = (event) => {
			event.preventDefault();
			$("#uploadForm #file")[0].files = event.dataTransfer.files;
			$("#uploadForm #file").trigger('change');
			$(event.target).removeClass('drop-zone-active')
		};
		$("#upload-drop-zone")[0].ondragover = (event) => {
			$(event.target).addClass('drop-zone-active');
			return false;
		};
		$("#upload-drop-zone")[0].ondragleave = (event) => {
			$(event.target).removeClass('drop-zone-active');
			return false;
		};
		
		
		function show_error_message(title, message){
			$('#dialog-title').text(title);
			$('#dialog-message').text(message);
			$('#error-dialog').modal();
		}

		function start_upload_file(captcha_token=''){
			$("#uploadForm #file").prop('disabled', true); //Prevent the user from selecting a new file once the upload had started

			//Request for a presigned POST URL
			$.post('/get_presigned_post',
				{'filename': $("#uploadForm #file")[0].files[0].name, 'g-recaptcha-response': captcha_token},
				(data) => {
				//Put the fields and action URL into the form
				$('#uploadForm').attr("action", data['url']);
				$('#presign_post_attributes').empty();
				for (var attribute in data['fields']){
					$('#presign_post_attributes').append(
						`<input type="hidden" name="${attribute}" value="${data['fields'][attribute]}" />`
					);
				}
				
				//Temporarily re-enabling the file input so that it can get saved into the formData. That's because disabled inputs are not sendable
				$("#uploadForm #file").prop('disabled', false);
				formData = new FormData($('#uploadForm')[0]);
				$("#uploadForm #file").prop('disabled', true);

				//Send the request
				$.ajax({
					xhr: () => {
						var xhr = new window.XMLHttpRequest();
						xhr.upload.addEventListener("progress", (event) => {
							if (event.lengthComputable) {
								percentageUploaded = event.loaded*100/event.total
								$('#progress').css('width', percentageUploaded+'%').attr('aria-valuenow', percentageUploaded); 
							}
					   }, false);

					   return xhr;
					},
					method: 'POST',
					url: $('#uploadForm').attr('action'),
					data: formData,
					crossDomain: true,
					processData: false,
					contentType: false,
					error: (jqXHR) => {
						show_error_message("Server Error", jqXHR.responseText);
					},
					success: (data) => {
						location.href = data;
					}
				});

			}, 'json').fail(
				function(jqXHR, statusCode) {
					show_error_message("Error", jqXHR.responseText);
				}
			)
		}

		$("#uploadForm #file").on("change", function(eventObject) {
			if(this.files.length==1){
				var file = this.files[0];
				if(file.size<={{ file_size_limit }}){
					$("#uploadForm input[name=Content-Type]").val(file.type);
					$("#uploadForm #filename").html(file.name);
					{% if captcha_enabled %}
						grecaptcha.execute();
					{% else %}
						start_upload_file();
					{% endif %}
				}else{
					this.value = "";
					show_error_message("File Too Large", "This file is too large. The file size limit is {{ file_size_limit_human }}");
				}
			}else if(this.files.length>1){
				show_error_message("Multiple Files Unsupported", "We do not support uploading multiple files at a time");
			}
		});

		$('#uploadForm').submit(() => {
		{% if captcha_enabled %}
			grecaptcha.execute();
		{% else %}
			start_upload_file();
		{% endif %}
			return false;
		});
		</script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	</body>
</html>
